name: Generate Snake Game
on:
  schedule:
    - cron: "0 */12 * * *" # runs every 12 hours
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk@v3
        with:
          github_user_name: jhonristh    # <--- HARDCODED USERNAME
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark   # <--- DARK THEME
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
